h1 {
    background-color: white;
    color: chocolate;
    text-align: center;
    font-family: fantasy;
}

h2 {
    background-color: white;
    color: black;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 8px;
    margin: 0 auto;
}

h2.h2 {
    text-align: left;
}


li {
    color: coral;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    padding: 8px;
}

div.img {
    display: block;
    text-align: center;
}

