h1 {
    background-color: coral;
    color: forestgreen;
    text-align: center;
}

h2 {
    background-color: aliceblue;
    color: midnightblue;
    text-align: center;
}

li {
    color: coral;
}


